# Quarto build output
_site/

# Quarto cache and metadata
.quarto/

# R session history
.Rhistory
.RData
.Rproj.user/

_extensions/


# Temporary / OS files
*.log
*.tmp
*.cache/
.DS_Store
Thumbs.db


/.quarto/
